.container {
    background-color: #2F4F4F;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-container {
    margin-bottom: 20px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin: 10px;
    color: #fff;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8
}

.message {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
}

#output {
    margin-top: 20px;
}

pre {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}